doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/style.css')
    script(src='https://code.jquery.com/jquery-3.6.0.min.js')
    script.
      $(document).ready(function() {
        $('.update-button').click(function() {
          const objectId = $(this).attr('data-id');
          window.location.href = `/update-cobj/${objectId}`; // Redirect to update page
        });
      });
  body
    h1 Custom Objects List

    .button-container
      a.button(href='/create-cobj') Add Object

    .table-container
      table
        thead
          tr
            th Name
            th Details
            th Amount
            th Actions
        tbody
          each record in data
            tr
              td #{record.properties.project_name}
              td #{record.properties.details}
              td #{record.properties.amount}
              td
                button.update-button(data-id=record.properties.hs_object_id) Update
